---
import Projects from "../pages/projects.astro";
import Layout from '../layouts/Layout.astro';
import homeImg from "../img/cesar-rincon-XHVpWcr5grQ-unsplash.jpg";



---

<Layout title="Greory Portfolio">

	<!-- home section -->

		<section class="home-section active">
			<h1 class="hero-heading">hello, i am <br> kunaal</h1>
			<img src={homeImg} class="home-img" alt="">
		</section>
		<Projects/>

	

	
	
</Layout>

<style>
	
</style>
