---

---

<section class="resume">
    <div class="heading">
        <h2>Resume</h2>
        <div class="content">
            <div class="contentBx">
                <h3>UI / UX - Front End Web Designer</h3>
            </div>
        </div>
    </div>
</section>