---


---

<section class="banner">
    <div class="textBx">
        <h2>Greetings I'm<br/><span>Gregory Harris</span></h2>
        <h3>UI / UX - Front End Web Designer</h3>
        <a href="/resume" class="btn">Resume</a>
    </div>
</section>

<style>

    section { 
        padding: 100px;
    }
    .banner { 
        position: relative;
        min-height:100vh;
        background:url("../img/banner.jpg");
        background-size: cover;
        background-position: right;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .banner h2 {
        font-size: 3em;
        color: #fff;
        font-weight: 500;
        line-height: 1.5em;

    }

    .banner h2 span {
        font-size: 1.5em;
        font-weight: 700;
        
    }

    .banner h3 {
        font-size: 1.5em;
        color: #fff;
        font-weight: 500;

    }

    .btn {
        position: relative;
        background: #2196f3;
        display: inline-block;
        color: #fff;
        margin-top: 20px;
        padding: 10px 30px;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing:2px;
        font-weight:500;

    }

</style>