---

---

<header>
    <a href="/" class="logo">Portfolio</a>
    <div class="toggle"></div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/resume">Resume</a></li>
    </ul>

</header>

<style>

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
    }

    header ul {
       position: relative;
       display: flex; 
    }

    header ul li {
        position: relative;
        list-style: none;
    }

    header ul li a {
        position: relative;
        display: inline-block;
        margin: 0 15px;
        color: #fff;
    }

</style>